:root {
  --rosa: #ff9ec6;
  --rosa-claro: #ffc2dc;
  --rosa-clarito: #fbe5ee;
  --rosa-oscuro: #ff7bb3;
  --fucsia-claro: #fb64a3;
  --fucsia: #fd388a;
  --fucsia-oscuro: #bd2162;
  --fucsia-oscurito: #b0004a;
  --negro: #333333;
  --azul:#2196f3;
  --verde:#4caf50 ;
}

@font-face{
  font-family: 'title';
  src: url(./fonts/Biscuit\ Glitch.ttf) format('truetype');
  font-display: swap;
}

*{
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', 'Arial Rounded MT Bold', sans-serif;
}

body {
  background: url("./assets/background.jpg") repeat;
  background-size: 25% ;
}